/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
  }
 
  /* for toggle behavior */
  #content{
  background-color:white;
  height: 1px
}
  .page-content{
    width: calc(100% - 17rem);
    margin-left: 17rem;
     transition: all 0.4s;
  }

 #sidebarCollapse{
    margin-top: -40px;
  
  }

  
  @media (max-width: 768px) {
    #sidebar {
      margin-left: -17rem;
    }
    .sdactive {
      margin-left: 0;
    }
    #content {
      width: 100%;
      margin: 0;
    }
    .cntactive {
      margin-left: 17rem;
      width: calc(100% - 17rem);
    }

  }
  
  /*
  *
  * ==========================================
  * FOR DEMO PURPOSE
  * ==========================================
  *
  */
  
  .separator {
    margin: 3rem 0;
    border-bottom: 1px dashed #fff;
  }
  
  .text-uppercase {
    letter-spacing: 0.1em;
  }
  
  .text-gray {
    color: #aaa;
  }