.card {
    z-index: -1;
    margin: 2rem;
    display: inline-block;
    justify-content: space-around;
    padding: 5px;

    width: 18rem;

}

table {
    table-layout: fixed;
    padding: 5px;
    margin-top: 20px;
    overflow-x: auto;
    height: 100%
}

th {
    width: 25%;
    padding: 5px;
}