.icon:hover {
    opacity: 50%;
}

.songPageBody {
    overflow: scroll;
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* make scrollbar transparent */
}